.posted_comment {
  border: 1px rgb(241, 234, 234) solid;
  border-radius: 6px;
  margin: 2vh auto;

  box-sizing: border-box;
  background-color: rgb(90, 101, 7);
  color: white;

  width: 65vw;
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.posted_name_surname {
  color: rgb(4, 249, 57);
}
@media (max-width: 480px) {
  .posted_comment {
    width: 70vw;

    font-size: 19px;
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .posted_comment {
    width: 85vw;

    font-size: 22px;
  }
}
