.backdrop_errorModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.errorModal_unit {
  position: fixed;
  top: 40vh;
  left: 27vw;
  width: 40%;
  /* height: 25vh; */
  z-index: 20;
  padding-bottom: 1rem;

  border-radius: 12px;
  background-color: rgb(116, 117, 80);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
}

.error_title h3 {
  padding: 1rem;
  background-image: linear-gradient(
    100deg,
    rgb(80, 117, 80) -40%,
    rgb(122, 4, 4) 70%
  );
  color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_message_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_message_body h4 {
  padding: 1rem 1rem;

  color: white;
}

.error-modal-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_confirm {
  width: 6rem;
  height: 2rem;
  border-radius: 12px;

  background-image: linear-gradient(
    100deg,
    rgb(80, 117, 80) -40%,
    rgb(122, 4, 4) 70%
  );
  color: white;
}

.button_confirm:hover {
  background-image: linear-gradient(
    100deg,
    rgb(121, 91, 9) 100%,
    rgb(69, 8, 8) 10%
  );
}

@media (max-width: 480px) {
  .errorModal_unit {
    top: 40vh;
    left: 12vw;
    width: 80%;

    z-index: 20;
  }
}
