.posted_comments {
  width: 71vw;

  border: 1px solid rgb(248, 245, 245);
  border-radius: 5px;
  color: white;
  margin: 4rem auto;

  background-color: rgb(70, 105, 70);
}

.posted_header {
  font-size: 50px;
  color: white;
  margin-top: 4vh;
  margin-left: 2vw;
  margin-bottom: 6vh;
}

ul {
  list-style: none;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .posted_comments {
    width: 85vw;
  }

  ul {
    list-style: none;
    width: 67vw;
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .posted_comments {
    width: 95vw;
  }

  ul {
    list-style: none;
    width: 77vw;
  }
}
